{{>header}}

<style>
    #btn_n{
        margin-left: 45%; 
        margin-top: 25px; 
        font-weight:bold; 
        font-height:25px;
    }
</style>

<div class="mb-2">
<img src="https://www.pngkey.com/png/detail/147-1473883_404-error-404-not-found-png.png" alt="">
</div>

<div class="btn btn-primary font-weigth" id="btn_n">
{{errorcomment}}
</div>
{{>footer}}
