<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        img{
            width: 65%;
            height: 55%;
            margin-left: 20%;
            margin-top: 35px;
        }
        h1{
            text-align: center;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <img src="https://us.123rf.com/450wm/maxborovkov/maxborovkov1809/maxborovkov180900067/110330061-autumn-welcome-sign-with-colorful-maple-leaves-vector-background.jpg?ver=6" alt="">
    <h1>Hello {{ userName }} </h1>
</body>
</html>